img:hover{
    transform: scale(1.1);
}
img{
    transition: 0.4s;
}

body{
    background-repeat: no-repeat ;
    background-image: url('https://i.pinimg.com/originals/a3/0e/89/a30e89dd06a37a72c60321d55cf02346.jpg');
    background-size: cover; 
}
