:root{
     /* colors */
     --hue: 230;
     /* HSL color mode */
     --base-color: hsl(var(--hue), 36%, 57%);
     --base-color-second: hsl(256, 100%, 60%);
     --base-color-alt: hsl(var(--hue), 94%, 63%);
     --title-color: hsl(var(--hue), 41%, 10%);
     --text-color: hsl(0, 0% ,46%);
     --text-color-light: hsl(0, 0% ,98%);
     --body-color: hsl(0, 0% ,98%);
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font: 400 1rem "DM Sans", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

ul{
    list-style: none;
}

a{
    text-decoration:none;
}

button, .button{
    background: linear-gradient( var(--base-color-alt), #3022fc);
    font: 500 1rem "Poppins", sans-serif;
    color: var(--body-color);
    border-radius: 12px;
    height: 3.5rem;   
    width: 100%;
    outline: none;
    border-style: none;
}

.container{
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid{
    display: grid;
    gap: 1rem;
}


.divider-1{
    height: 5px;
    background: var(--title-color);
    margin-bottom: 0.5rem;
}

.section{
    padding: 3rem 0;
}

.title-2{
    font: 600 2rem "Poppins", sans-serif;
    color: var(--title-color);
}
.text{
    font: 400 1.125rem "Manrope", sans-serif;
    color: var(--title-color);
}

.title{
    font: 700 1rem "Poppins", sans-serif;
    color: var(--base-color);
}

/*/////header//////*/

main{
    margin-top: calc(var(--header-height) + 2rem);
}

#header .container{
    padding: 1rem 0;
}

#header{
    display: flex;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
}

#header .caixa-logo{
    width: 70%;
    display: flex;
}

#header .caixa-logo p{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#header.scroll{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

#header .logo{
    height: 2rem;
    z-index: 100;
}

    /* NAVIGATION */
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    
    nav ul li{
        text-align: left;
    }
    
    nav ul li a{
        transition: color 0.2s;
    }
    
    nav ul li a:hover{
        color: var(--base-color);
    }
    
    nav ul li a::after{
        content: "";
        width: 0%;
        height: 2px;
        background: var(--base-color);
    
        position: absolute; /* é absoluto em relação ao próximo pai que for relativo, isto é, o <a>*/
        left: 0;
        bottom: -1.5rem;
    
        transition: width 0.2s;
    }
    
    /* faz a animação de preenchimento*/
    nav ul li a:hover::after{
        width: 100%;
    }
    
    nav .menu{
        visibility: hidden;
        transition: 0.4s;
        left: 30rem;
    }
    
    nav .menu ul{
        display: none;
    }

    .content{
        padding-left: 2rem;
    }

    /* Menu sanduich show*/
    nav.show .menu{
        visibility: visible;
        
        background: var(--body-color);
        height: 100vh;
        width: 100vw;
        padding-top: 120px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        
        
        z-index: 99;
        display: grid;
    }
    

    nav div .form{
        width: 100%;
        clip-path: polygon(100% 19%, 100% 100%, 0 100%, 0 65%);
        background:linear-gradient(var(--base-color-second), var(--base-color-alt));
    }
        
    nav.show .menu ul{
        display: grid;
    }
    
    nav.show ul.grid{
        gap: 1rem;
    }
    
    /* TOGGLE MENU */
    .toggle{
        color: var(--base-color);
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    nav .icon-x{
        visibility: hidden;
    
        position: absolute;
        top: -1.5rem;
        right: 1.5rem;
        z-index: 100;
    
        transition: 0.2s;
    }
    
    nav.show div.icon-x{
        visibility: visible;
        opacity: 1;
        top: 1.5rem;
    }
    
/*////Home////*/

.hifen{
    background: var(--base-color);
    height: 2px;
    width: 3.3rem;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 10px;
}
main #home{
    padding: 3.5rem 0 3rem 0;
}

#home .text{
    text-align:left;
}

#home .title-2{
    margin-bottom: 0.5rem;
}

#home .avatar{
    height: 23.4375rem;
    width: 100%;
    background: linear-gradient(var(--base-color-alt), var(--base-color-second));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 70%, 0 0, 100% 30%, 100% 100%);
    box-shadow: 1px 4px 10px #000000;
}

#home .caixa-avatar{
    position: relative;
}


#home .caixa-avatar::before{
    content:'';
    height:100%;
    width: 100%;
    background-image: linear-gradient(to left, red,orange,yellow,green,blue,indigo,violet);
    position: absolute;
    clip-path: polygon(0 70%, 0 0, 100% 30%, 100% 100%);
    top: 2.8%;
    left: 0;
}

#home .circulo2{
    height:300px;
    width: 300px;
    left: 60%;
    top: 50%;
    position: absolute;
    border-radius: 100%;
    background: transparent;
    border: solid white;
    transition: 0.5s;
}
#home .circulo3{
    height:50px;
    width: 50px;
    position: absolute;
    border-radius: 100%;
    left: 75%;
    background: transparent;
    border: solid white;
    transition: 0.5s;
}
#home .circulo4{
    height:500px;
    width: 500px;
    right: 75%;
    position: absolute;
    background: transparent;
    border-radius: 100%;
    border: solid white;
    transition: 0.5s;
}

#home .avatar .circulo{
    border-radius: 100%;
    height: 11.75rem;
    width: 11.625rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 6px 3px 20px 3px black;
    transition: 0.5s;
    z-index: 98;
}

#home .avatar .circulo:hover{
    height: 13.75rem;
    width: 13.625rem;
}

#home .hover{
    height: 13.75rem;
    width: 13.625rem;
}

#home .avatar img {
    height: 30.75rem;
    width: 30.75rem;
}

#home .title-2{
    text-align: left;
}

/*/////SOBRE///////*/

#sobre h2{
    margin-bottom: 1rem;
}

#sobre .title-2{
    font-size: 4rem;
    text-align: left;
    margin: 1.3rem 0;
    line-height: 4.5rem;
}

#sobre hr{
    width: 50%;
}
#sobre .text{
    margin-bottom: 2rem;
    font: 600 1.25rem "Poppins", sans-serif;
}

#sobre .center{
    display: flex;
    justify-content: space-around;
}

#sobre img {
    height: 15rem;
    width: 15rem;
    position: relative;
    animation: 7s  mymove infinite;
    animation-fill-mode: both;
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 25px;}
    50% {top: 0px;}
    75%  {top: 30px}
    100% {top:0px;}
  }

#sobre i{
    margin-right: 4px;
}

#sobre a{
    background: linear-gradient( var(--base-color-alt), #4c3fff);
    font: 500 1rem "Poppins", sans-serif;
    color: var(--body-color);
    border-radius: 12px;
    height: 3.5rem;   
    width: 100%;
    outline: none;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*/////projetos///////*/

#projetos label{
    font: 600 3rem "Poppins", sans-serif;
    text-align: left;
}

#projetos{
    background: transparent;
}

#projetos .container{
    margin-left: 0;
    margin-right: 0;
}

#projetos header{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

@media (max-width: 360px)
{
  #projetos .swipe-slide .title-2{
    font-size: 1.8rem;
   }
}
#projetos .card{
 height: 34rem;
 border-radius: 1.3125rem;
 background: #FFFFFF;
 box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.25);
 padding: 2rem;
}

#projetos .center{
    position: relative;
    display: flex;
    justify-content: center;
}

#projetos .circulo {
    overflow: hidden;
    border-radius: 100%;
    width: 11.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projetos .mage{
    background: rgb(49, 0, 112);
}
#projetos .lampada{
    background: #E35555;
}

#projetos .sol {
    background: rgb(209, 128, 7);
}

#projetos .gama {
    background: rgb(10, 7, 209);
}

#projetos a{
    height: 4.375rem;
    width: 12.21875rem;
    background: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#projetos .text, .title-2{
    text-align: center;
}

#projetos img{
    height: 10rem;
    width: 10rem;
}

/* swiper */
.swiper-slide{
    height: auto;
    padding: 4rem 2.5rem;
}
.swiper-pagination-bullet-active{
    background: var(--base-color);
}



/*///////SKILLS////////*/

#skills .section{
    background: linear-gradient(var(--base-color-alt), var(--base-color-second));
}

#skills h4{
    font: 500 4.5rem "Manrope", sans-serif;
}

#skills .white{
    font: 300 1.25rem "Manrope", sans-serif;
}

#skills h4, .white{
    color: white;
    text-align: initial;
}

/*///invertendo o foguete///////*/
#skills .foguete{

    height: 10rem;
    width: 10rem;
}

#skills #habilidades{
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#skills #habilidades img{
    height: 5.5625rem;
    width: 5.5625rem;
    margin: 1rem 0;
}


#skills .espaço{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 5rem 0;
}

#skills #habilidades .dividider-2{
    border-style: solid;
    border-color: var(--title-color);
    height: 10px;
    width: 25%;
    position: absolute;
}

#skills #java .dividider-2{
    box-shadow: inset 70px 0 0 0 white;
}
#skills #html .dividider-2{
    box-shadow: inset 60px 0 0 0 white;
}
#skills #javascript .dividider-2{
    box-shadow: inset 40px 0 0 0 white;
}
#skills #css .dividider-2{
    box-shadow: inset 50px 0 0 0 white;
}
#skills #sql .dividider-2{
    box-shadow: inset 30px 0 0 0 white;
}
#skills #php .dividider-2{
    box-shadow: inset 25px 0 0 0 white;
}

/*///////CONTATO///////////*/


#contato .title-2{
    font-size: 4rem;
    text-align: left;
}

#contato .aviao{
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
}


#contato form .info-box{
    position: relative;
}

#contato form input{
    font-size: 1.4rem;
    outline: none;
    border: none;
    border-bottom: solid;
    width: 100%;
    height: 2rem;
    margin: 1.2rem 0;
    background: transparent;
}


#contato  .info-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    color: black;
    font-size: 1.2rem;
    pointer-events: none;
    transition: .5s;
  }

#contato  .info-box input:focus ~ label,
#contato .info-box input:valid ~ label{
  top: -20px;
  left: 0;
  font-size: 0.9rem;
}

#contato form textarea{
    outline: none;
    border: none;
    height: 9.375rem;
    width: 100%;
    border-radius: 1.3125rem;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.25);
    padding: 0.75rem;
}

#contato form .botao{
    background: #3c06ff;
    font: 500 1rem "Poppins", sans-serif;
    color: var(--body-color);
    border-radius: 12px;
    height: 4rem;   
    width: 100%;
    outline: none;
    border-style: none;
}

[data-fly] {
    transition: 0.5s;
}

[data-fly="right"]{
    transform: translate3d(200px, 50px, 0px);
}

[data-fly="left"]{
    transform: translate3d(-150px, 50px, 0px);
}

.animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*////////FOOTER//////*/

#footer{
    background: linear-gradient(180deg, #4200FF 0%, #5523E0 100%);
}

#footer .container{
    font: 200 1.1rem "Poppins", sans-serif;
    color: white;
}

#footer i{
    font-size: 2rem;
    margin: 0 0.5rem;
}

#footer .section{
    padding: 1.5rem 0;
}

.back-to-top {
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 0.5rem;
    clip-path: circle();
    font-size: 1.5rem;
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translate(0);
    z-index: 100;
}
